.main_content {
  display: flex;
  flex-direction: column;
  background-color: #cbecff;
}
.languages_btn_wrapper {
  display: flex;
  justify-content: flex-end;
}
.languages_btn_active {
  background-color: #ffffff;
  border: none;
  border-radius: 50%;
  height: 30px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}
.languages_btn_off {
  border: none;
  background-color: inherit;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}
.about_us {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about_us_info {
  width: 384px;
}
.about_us_info_header {
  color: #29374e;
  font-family: Inter;
  font-size: 64px;
  font-weight: 700;
  line-height: 83px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 10px;
}
.header_rigth_part {
  width: 122px;
  background-color: #ffffff;
  border-radius: 20px;
  color: #0962e8;
  padding: 0 12px;
}
.about_us_info_description {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 20px;
}
.btn {
  width: 199px;
  height: 52px;
  top: 339px;
  left: 208px;
  border-radius: 12px;
  border: none;
  background-color: #0962e8;
  color: #ffffff;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  cursor: pointer;
}
.characteristics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.quality {
  display: flex;
  align-items: center;
  box-shadow: 6px 4px 12px 0px #0000000d;
  background-color: #ffffff;
  border-radius: 20px;
  width: 241px;
  height: 118px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #29374e;
  margin-left: 10px;
  position: relative;
  top: 40px;
}
.products {
  width: 100%;
  padding-top: 150px;
  display: flex;
  flex-direction: column;
}
.text_header {
  width: 100%;
  text-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 38px;
  font-weight: 500;
  line-height: 49px;
  letter-spacing: -0.03em;
  color: #29374e;
}
.text_header_span {
  color: #0962e8;
  padding-left: 5px;
}
.platforms {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.platform {
  display: flex;
  align-items: flex-start;
  width: 502px;
  height: 328px;
  border-radius: 30px;
  background-color: #e9f6ff;
  margin-right: 30px;
  padding-left: 20px;
}
.platform_header {
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  padding-top: 20px;
}
.platform_description {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.values_block {
  display: flex;
}
.values_block_about_us {
  width: 500px;
}
.values {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
}
.value_item {
  width: 230px;
}
