
.icon-activity:before { content: '\e800'; } /* '' */
.icon-filter:before { content: '\e803'; } /* '' */
.icon-graph:before { content: '\e804'; } /* '' */
.icon-setting:before { content: '\e807'; } /* '' */
